
<h2 class="govuk-heading-s">Most viewed</h2>

<div class="govuk-list list-of-curated-links no-marg">
  <ul>
    <li><a href="#">Exporting goods to the EU</a></li>
    <li><a href="#">Paying VAT on goods bought online</a></li>
    <li><a href="#">Sending and receiving goods from EU</a></li>
  </ul>
</div>

<div class="gem-c-accordion govuk-!-margin-bottom-6" id="default-id-8d0be4ef" data-module="gem-accordion" data-anchor-navigation="false">
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-1" class="gem-c-accordion__section-button">
        Sending and receiving goods from EU
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-1" class="gem-c-accordion__section-content" aria-label="Writing well for the web">
      <div class="primary-list-action">
        <div class="jarrow"></div>
        <h2 class="govuk-heading-s"><a href="#">This is the special link I want to call out</a></h2>
        <div class="hacky-spacer"><p>Longer bit of text</p></div>
        </div>

      <ul class="govuk-list">

        <li><a href="#">Buying goods online from EU</a></li>
        <li><a href="#">Paying VAT on goods bought online</a></li>
        <li><a href="#">Sending or receiving gifts from EU</a></li>
        <li><a href="#">Moving goods between UK/EU (non-business)</a></li>
        </ul>

    </div>
  </section>
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-2" class="gem-c-accordion__section-button">
          Exporting goods to the EU
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-2" class="gem-c-accordion__section-content" aria-label="Writing well for specialists">
      <p class="govuk-body">
        This is the content for exporting goods to the EU
      </p>
    </div>
  </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-3" class="gem-c-accordion__section-button">
            Importing goods from the EU
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-3" class="gem-c-accordion__section-content" aria-label="Importing goods from the EU">

          <div class="primary-list-action">
            <div class="jarrow"></div>
            <h2 class="govuk-heading-s"><a href="#">This is the special link I want to call out</a></h2>
            <div class="hacky-spacer"><p>Longer bit of text</p></div>
            </div>

          <ul class="govuk-list">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            </ul>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-4" class="gem-c-accordion__section-button">
            Transporting goods in the EU
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-4" class="gem-c-accordion__section-content" aria-label="How people read">
        <p class="govuk-body">
          This is the content for transporting goods in the EU
        </p>
      </div>
    </section>
  </div>
