
<h2 class="govuk-heading-s">Most viewed</h2>

<div class="govuk-list list-of-curated-links no-marg">
  <ul>
    <li><a href="https://www.gov.uk/export-goods">Exporting goods to the EU</a></li>
    <li><a href="https://www.gov.uk/guidance/vat-and-overseas-goods-sold-directly-to-customers-in-the-uk">Paying VAT on goods bought online</a></li>
    <li><a href="https://www.gov.uk/goods-sent-from-abroad">Sending and receiving goods from EU</a></li>
  </ul>
</div>

<div class="gem-c-accordion govuk-!-margin-bottom-6" id="default-id-8d0be4ef" data-module="gem-accordion" data-anchor-navigation="false">
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-1" class="gem-c-accordion__section-button">
      Importing and exporting
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-1" class="gem-c-accordion__section-content" aria-label="Writing well for the web">

    <!--
      <div class="primary-list-action">
        <div class="jarrow"></div>
        <h2 class="govuk-heading-s"><a href="#">This is the special link I want to call out</a></h2>
        <div class="hacky-spacer"><p>Longer bit of text</p></div>
        </div>
-->
      <ul class="govuk-list">

        <li><a href="https://www.gov.uk/eori">Get an EORI number</a></li>
        <li><a href="https://www.gov.uk/import-goods-into-uk">Import goods into the UK</a></li>
        <li><a href="https://www.gov.uk/export-goods">Export goods from the UK</a></li>
        <li><a href="https://www.gov.uk/guidance/appoint-someone-to-deal-with-customs-on-your-behalf">Get someone to deal with customs for you</a></li>
        <li><a href="https://www.gov.uk/guidance/tariffs-on-goods-imported-into-the-uk">Tariffs on goods imported into the UK</a></li>
        <li><a href="https://www.gov.uk/government/collections/moving-goods-into-out-of-or-through-northern-ireland">Moving goods into, out of, or through Northern Ireland</a></li>
        <li><a href="https://www.gov.uk/guidance/vat-and-overseas-goods-sold-directly-to-customers-in-the-uk">VAT and overseas goods sold directly to customers in the UK</a></li>
        <li><a href="https://www.gov.uk/eubusiness">Trade with the UK as a business based in the EU</a></li>
        </ul>

    </div>
  </section>
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-2" class="gem-c-accordion__section-button">
          Providing services or travelling to the EU
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-2" class="gem-c-accordion__section-content" aria-label="Writing well for specialists">
      <ul class="govuk-list">
        <li><a href="https://www.gov.uk/foreign-travel-advice">Foreign travel advice</a></li>
        <li><a href="https://www.gov.uk/visit-eu-switzerland-norway-iceland-liechtenstein/business-travel-extra-requirements">Travelling for business</a></li>
        <li><a href="https://www.gov.uk/guidance/providing-services-to-any-country-in-the-eu-iceland-liechtenstein-norway-or-switzerland-after-eu-exit">Selling services to the EU, Switzerland, Norway, Iceland and Liechtenstein</a></li>
        </ul>
    </div>
  </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-3" class="gem-c-accordion__section-button">
            Transport goods to the EU
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-3" class="gem-c-accordion__section-content" aria-label="Importing goods from the EU">

          <div class="primary-list-action">
            <!--
            <div class="jarrow"></div>
            <h2 class="govuk-heading-s"><a href="#">This is the special link I want to call out</a></h2>
            <div class="hacky-spacer"><p>Longer bit of text</p></div>
            </div>
            -->

            <ul class="govuk-list">
              <li><a href="https://www.gov.uk/check-hgv-border">Apply for a Kent Access Permit</a></li>
              <li><a href="https://www.gov.uk/guidance/carry-out-international-road-haulage">Carry out international road haulage</a></li>
              <li><a href="https://www.gov.uk/guidance/kent-traffic-management-on-m20-motorway-to-dover-and-eurotunnel">Check traffic management measures for Dover and Eurotunnel</a></li>
              </ul>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-4" class="gem-c-accordion__section-button">
          Exchanging data with EU businesses
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-4" class="gem-c-accordion__section-content" aria-label="How people read">
        <ul class="govuk-list">
          <li><a href="https://www.gov.uk/guidance/using-personal-data-in-your-business-or-other-organisation">Using personal data in your business or other organisation</a></li>
          </ul>
      </div>
    </section>
  </div>
