<div class="gem-c-accordion govuk-!-margin-bottom-6" id="default-id-8d0be4ef" data-module="gem-accordion" data-anchor-navigation="false">
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-1" class="gem-c-accordion__section-button">
          Writing well for the web
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-1" class="gem-c-accordion__section-content" aria-label="Writing well for the web">
      <p class="govuk-body">
        This is the content for Writing well for the web.
      </p>
    </div>
  </section>
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-2" class="gem-c-accordion__section-button">
          Writing well for specialists
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-2" class="gem-c-accordion__section-content" aria-label="Writing well for specialists">
      <p class="govuk-body">
        This is the content for Writing well for specialists.
      </p>
    </div>
  </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-3" class="gem-c-accordion__section-button">
            Know your audience
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-3" class="gem-c-accordion__section-content" aria-label="Know your audience">
        <p class="govuk-body">
          This is the content for Know your audience.
        </p>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-4" class="gem-c-accordion__section-button">
            How people read
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-4" class="gem-c-accordion__section-content" aria-label="How people read">
        <p class="govuk-body">
          This is the content for How people read.
        </p>
      </div>
    </section>
  </div>
