<div class="gem-c-accordion govuk-!-margin-bottom-6" id="default-id-8d0be4ef" data-module="gem-accordion" data-anchor-navigation="false">
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-1" class="gem-c-accordion__section-button">
          Staying in the UK as an EU citizen
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-1" class="gem-c-accordion__section-content" aria-label="Staying in the UK as an EU citizen">
      <p class="govuk-body">

        <div class="primary-list-action">
          <div class="jarrow"></div>
          <h2 class="govuk-heading-s"><a href="#">This is the special link I want to call out</a></h2>
          <div class="hacky-spacer"><p>Longer bit of text</p></div>
          </div>

        <ul class="govuk-list">
          <li><a href="#">Settled status for EU students</a></li>
          <li><a href="https://www.gov.uk/staying-uk-eu-citizen">Settled status for EU, EEA or Swiss citizens</a></li>
          </ul>

      </p>
    </div>
  </section>
  <section class="gem-c-accordion__section">
    <div class="gem-c-accordion__section-header">
      <h2 class="gem-c-accordion__section-heading">
        <span id="default-id-8d0be4ef-heading-2" class="gem-c-accordion__section-button">
          Going and being abroad
        </span>
      </h2>
    </div>
    <div id="default-id-8d0be4ef-content-2" class="gem-c-accordion__section-content" aria-label="Writing well for specialists">
      <p class="govuk-body">
        This is the content for Going and being abroad
      </p>
    </div>
  </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-3" class="gem-c-accordion__section-button">
            Working in the EU
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-3" class="gem-c-accordion__section-content" aria-label="Know your audience">
        <p class="govuk-body">
          This is the content for Working in the EU
        </p>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-4" class="gem-c-accordion__section-button">
            Entering and staying in the UK
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-4" class="gem-c-accordion__section-content" aria-label="How people read">
        <p class="govuk-body">
          This is the content for Entering and staying in the UK
        </p>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-5" class="gem-c-accordion__section-button">
            Northern Ireland border
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-5" class="gem-c-accordion__section-content" aria-label="How people read">
        <p class="govuk-body">
          This is the content for Northern Ireland border
        </p>
      </div>
    </section>
    <section class="gem-c-accordion__section">
      <div class="gem-c-accordion__section-header">
        <h2 class="gem-c-accordion__section-heading">
          <span id="default-id-8d0be4ef-heading-6" class="gem-c-accordion__section-button">
            Living in the EU
          </span>
        </h2>
      </div>
      <div id="default-id-8d0be4ef-content-6" class="gem-c-accordion__section-content" aria-label="How people read">
        <p class="govuk-body">
          This is the content for Living in the EU
        </p>
      </div>
    </section>
  </div>
