
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
      Brexit – landing refresh post-January 2021</h1>


      <div class="brexit-divider">
        </div>

      <h2 class="govuk-heading-m">Prototype links</h2>
      <ul class="govuk-list">
        <li><a href="landing-tabs">Landing page – tabs</a></li>
        <li>Landing page – no tabs</li>
        </ul>
    </div>
  </div>

{% endblock %}
