
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      Brexit:</br>
      Landing page refresh </br></h1>
      <div class="brexit-divider">
        </div>

        <h2 class="govuk-heading-m">Doc + hypothesis links</h2>
        <ol class="govuk-list govuk-list--number">
          <li><a href="https://docs.google.com/document/d/1WN7D_8KQZoeyLQQfMloDZOCtWpsbS7BCrEh5UjdGWj8/edit?disco=AAAALi70j-A&ts=6036bbcb&usp_dm=true">
            Product brief</a></li>
            <li>tbc</li>
            </ol>


      <h2 class="govuk-heading-m">Prototype links</h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="landing-tabs">Landing page – tabs</a> &mdash; 1 March 2021</li>
        <li>Landing page – no tabs</li>
        </ol>
    </div>
  </div>

{% endblock %}
