
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      Brexit:</br>
      Landing page refresh  </br></h1>
      <div class="brexit-divider">
        </div>

        <div class="current">
        <h2 class="govuk-heading-l">Designs for user research</h2>
        <ol class="govuk-list govuk-list--number">
        <li><p class="govuk-body-l"><a href="landing-tabs">Tabs: landing page with tabs</a></p></li>
        <li><p class="govuk-body-l"><a href="landing-sections">Links: landing page with content split into pages</a></p></li>
        </ol>
        <h2 class="govuk-heading-m">High-level hypotheses informing these designs</h2>
        <ul class="govuk-list govuk-list--bullet">
        <li>There's evidence that users are seeking more specific, specialised guidance than the Brexit checker is providing them with.
        The Brexit checker has been moved below the guidance section. It's still there if users wish to use it, but the visual priority
      is on the guidance rather than the checker.</li>
        <li>There are two main user groups: businesses and citizens. It's helpful if we split the content for these
          two user groups so it's easier for users to find content specific to their needs.</li>
          </ul>


            <h2 class="govuk-heading-m">Tabs vs pages</h2>
            <ul class="govuk-list govuk-list--bullet">
            <li>Content: tabs (design 1) are meant for relatively short and lightweight content: if we end up adding more specialist content, splitting content into pages (design 2) will give us more flexibility</li>
            <li>Usability: we're not sure if users will find tabs or pages easier to use</li>
            </ul>

            </div>

        <h2 class="govuk-heading-m">Doc + hypothesis links</h2>
        <ol class="govuk-list govuk-list--number">
          <li><a href="https://docs.google.com/document/d/1WN7D_8KQZoeyLQQfMloDZOCtWpsbS7BCrEh5UjdGWj8/edit?disco=AAAALi70j-A&ts=6036bbcb&usp_dm=true">
            Product brief</a></li>
            <li>User research discussion guide – tbc</li>
            </ol>



            <h2 class="govuk-heading-m">Archived pages</h2>
            <ol class="govuk-list govuk-list--number">
            <li><p class="govuk-body-m"><a href="landing-2">Landing page all on one page</a></p></li>
            <li><p class="govuk-body-m"><a href="landing-3">Landing page with most viewed aligned with intro</a></p></li>
            </ol>


    </div>
  </div>

{% endblock %}
