
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="translation-wrapper">
        <div class="translation">
          <p class="govuk-body-s">
            English &nbsp; <span class="translation-divider">|</span> &nbsp;  <a href="#">Cymraeg</a>
          </p>
        </div>
      </div>

      <h1 class="govuk-heading-xl">Brexit</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">Find out how new Brexit rules apply to things like travel and doing business with Europe.</p>
        </div>
      </div>

      <div class="brexit-divider"></div>

      <div class="anchor-menu">
        <h2 class="govuk-heading-l">Guidance</h2>
        <p class="govuk-body-s">Contents</p>
        <ul class="govuk-list anchor-menu">
          <li><p class="govuk-body-s">&mdash; <a href="#businesses">Businesses</a></p></li>
          <li><p class="govuk-body-s">&mdash; <a href="#individuals">Individuals and families</a></p></li>
          </ul>
          </div>

          <a id="businesses"><h2 class="govuk-heading-m">Businesses</h2></a>
          {% include "includes/business_accordions.html" %}


            <a id="individuals"><h2 class="govuk-heading-m">Individuals and families</h2></a>
          {% include "includes/citizen_accordions.html" %}

          <div class="brexit-divider"></div>


      <h2 class="govuk-heading-l">Brexit checker</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">Use the Brexit checker to get a personalised list of actions for you, your business and your family.</p>

          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Brexit checker: start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>

        <img class="traffic-lights" src="../public/images/check-change-go.png">


<!--
        <div class="check-change-go-container">
          <div class="traffic-light1">
        <img src="../public/images/take-action-red.png">
        <span class="govuk-heading-m check-change-go">Check</span>
        </div>
        <div class="traffic-light2">
          <span class="govuk-heading-m check-change-go">Change</span>
        <img src="../public/images/take-action-amber.png">
        </div>
        <div class="traffic-light3">
          <span class="govuk-heading-m check-change-go">Go</span>
        <img src="../public/images/take-action-green.png">
        </div>
        </div>
        -->


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
    <div class="brexit-divider">
      </div>

      <div class="page-section">
        <h2 class="govuk-heading-l">Documents</h2>
        <p class="govuk-body-l">Some key documents about Brexit</p>

        <div class="document-container">
          <div class="documents-icon"></div>
          <div class="document-text">
            <p class="govuk-!-font-size-27"><a href="#">Brexit easy explainer</a></p>
            <p class="govuk-body-s">HTML</p>
          </div>
        </div>

        <div class="document-container">
          <div class="documents-icon"></div>
          <div class="document-text">
            <p class="govuk-!-font-size-27"><a href="#">Brexit treaty</a></p>
            <p class="govuk-body-s">HTML</p>
          </div>
        </div>


      </div>
<!--
      <h2 class="govuk-heading-m">Recent and upcoming changes</h2>
      <p class="govuk-heading-s">1 February</p>
      <p><a href="#">How to bring goods into the UK from any country</a>, including how much tax and duty you’ll need to pay and whether you need to get a licence or certificate.</p>
      <p class="govuk-heading-s">27 January</p>
      <p><a href="#">
        The government has published further detail</a> on how the borders between Great Britain and the EU will work and the actions that traders, hauliers and passengers need to take.
        </p>

        <p class="govuk-heading-s">10 January</p>
        <p><a href="#">
          The government has launched a new campaign</a> to help businesses and individuals prepare for the end of the transition period.          </p>
-->


  <div class="page-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-m">All Brexit information</h1>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
        Browse all information related to Brexit</p>

          <ul class="govuk-list list-of-curated-links">
            <li><a href="#">Services</a></li>
          <li><a href="#">Guidance and regulation</a></li>
          <li><a href="#">News and communications</a></li>
          <li><a href="#">Research and statistics</a></li>
          <li><a href="#">Policy papers and consultations</a></li>
          <li><a href="#">Transparency and freedom of information releases</a></li>
          </ul>
      </div>
    </div>
    </div>

</div>
    </div>
  </div>

{% endblock %}
