
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-xl">Brexit</h1>

      <div class="translation-wrapper">
        <div class="translation">
          <p class="govuk-body-s">
            English &nbsp; <span class="translation-divider">|</span> &nbsp;  <a href="#">Cymraeg</a>
          </p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">Find out how new Brexit rules apply to things like travel and doing business with Europe.</p>
        </div>
      </div>



      <!--

      <h2 class="govuk-heading-l">Most viewed</h2>

      <div class="govuk-list list-of-curated-links no-marg">
        <ul>
          <li><a href="https://www.gov.uk/travel-abroad">Travel abroad: step-by-step</a></li>
          <li><a href="#">Living and working in the EU</a></li>
          <li><a href="#">Staying in the UK if you're an EU citizen</a></li>
        </ul>
      </div>
-->


  <div class="guidance-categories">
          <p class="govuk-heading-m">
          <img class="arrow" src="public/images/red-brexit-arrow-6.svg"><a href="https://www.integration.publishing.service.gov.uk/guidance/brexit-guidance-for-businesses">Guidance for businesses</a>
          </p>
          <p class="govuk-heading-m">
          <img class="arrow" src="public/images/red-brexit-arrow-6.svg"><a href="https://www.integration.publishing.service.gov.uk/guidance/brexit-guidance-for-individuals-and-families">Guidance for individuals and families</a>
          </p>
        </div>
          <div class="brexit-divider">
            </div>


          <!--
          <p class="govuk-heading-s">Most viewed</p>
          <ul class="govuk-list">
            <li><a href="#">Paying VAT on goods bought online</a></li>
            <li><a href="#">Buying goods online from EU</a></li>
            <li><a href="#">Paying VAT on goods bought online</a></li>
                      </ul>
                      -->
          </div>

          <div class="govuk-grid-column-one-half">

            <!--  <p class="govuk-heading-s">Most viewed</p>

            <ul class="govuk-list">
              <li><a href="#">Travel abroad: step-by-step</a></li>
              <li><a href="#">Settled status for EU students</a></li>
              <li><a href="#">Settled status for EU, EEA or Swiss citizens</a></li>
            </ul><-->
        </div>
        </div>



      <h2 class="govuk-heading-l">Check how Brexit affects you</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">Use the Brexit checker to get a personalised list of actions for you, your business and your family.</p>

          <a href="https://www.gov.uk/transition-check/questions" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Brexit checker: start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>


        <img class="traffic-lights" src="../public/images/check-change-go.png">

        </div>
        </div>

<!--
        <div class="check-change-go-container">
          <div class="traffic-light1">
        <img src="../public/images/take-action-red.png">
        <span class="govuk-heading-m check-change-go">Check</span>
        </div>
        <div class="traffic-light2">
          <span class="govuk-heading-m check-change-go">Change</span>
        <img src="../public/images/take-action-amber.png">
        </div>
        <div class="traffic-light3">
          <span class="govuk-heading-m check-change-go">Go</span>
        <img src="../public/images/take-action-green.png">
        </div>
        </div>
        -->


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="brexit-divider"></div>
            </div>
            </div>

            <h2 class="govuk-heading-l">The UK and EU trade deal</h2>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-1">
              <p class="govuk-body-l"><a href="https://www.gov.uk/government/publications/summary-the-uks-new-relationship-with-the-eu">Summary: The UK’s new relationship with the EU</a></p>
              <p class="govuk-body-l">This summary of the UK-EU trade deal gives an overview of what has changed, and what remains the same after Brexit.</p>
              </div>
              </div>

              <div class="govuk-grid-row">
                      <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds govuk-!-margin-3">
              <p class="govuk-body-l"><a href="https://www.gov.uk/government/publications/the-northern-ireland-protocol">The Northern Ireland Protocol</a></p>
              <p class="govuk-body-l">Details of the agreement reached by the Withdrawal Agreement Joint Committee for the movement of goods into, out of, or through Northern Ireland.</p>
              </div>
              </div>
              </div>


              <!--

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">




        <h2 class="govuk-heading-l">Announcements</h2>

              <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds announcements">
      <p class="govuk-heading-s"><a href="#">Government focuses on recovery from COVID with new timeline for border control processes on import of goods</a></p>
      <p class="govuk-body-s">A new timetable for introducing import border control processes has been set out by the government to enable UK businesses to focus on their recovery.</p>
      <p class="govuk-body-xs">11 March 2020 &nbsp;&nbsp; Press release</p>
     </div>
     <div class="govuk-grid-column-two-thirds announcements">
      <p class="govuk-heading-s"><a href="#">Government focuses on recovery from COVID with new timeline for border control processes on import of goods</a></p>
      <p class="govuk-body-s">A new timetable for introducing import border control processes has been set out by the government to enable UK businesses to focus on their recovery.</p>
      <p class="govuk-body-xs">11 March 2020 &nbsp;&nbsp; Press release</p>
     </div>

     <div class="govuk-grid-column-two-thirds announcements">
      <p class="govuk-heading-s"><a href="#">Government focuses on recovery from COVID with new timeline for border control processes on import of goods</a></p>
      <p class="govuk-body-s">A new timetable for introducing import border control processes has been set out by the government to enable UK businesses to focus on their recovery.</p>
      <p class="govuk-body-xs">11 March 2020 &nbsp;&nbsp; Press release</p>
     </div>

          </div>

-->

<!--
      <h2 class="govuk-heading-m">Recent and upcoming changes</h2>
      <p class="govuk-heading-s">1 February</p>
      <p><a href="#">How to bring goods into the UK from any country</a>, including how much tax and duty you’ll need to pay and whether you need to get a licence or certificate.</p>
      <p class="govuk-heading-s">27 January</p>
      <p><a href="#">
        The government has published further detail</a> on how the borders between Great Britain and the EU will work and the actions that traders, hauliers and passengers need to take.
        </p>

        <p class="govuk-heading-s">10 January</p>
        <p><a href="#">
          The government has launched a new campaign</a> to help businesses and individuals prepare for the end of the transition period.          </p>
-->

<div class="brexit-divider">  </div>



  <div class="page-section">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-l">All Brexit information</h1>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l">
        Browse all information related to Brexit</p>

          <ul class="govuk-list list-of-curated-links">
            <li><a href="#">Services</a></li>
          <li><a href="#">Guidance and regulation</a></li>
          <li><a href="#">News and communications</a></li>
          <li><a href="#">Research and statistics</a></li>
          <li><a href="#">Policy papers and consultations</a></li>
          <li><a href="#">Transparency and freedom of information releases</a></li>
          </ul>
      </div>
    </div>
    </div>

</div>
    </div>
  </div>

{% endblock %}
